<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	{include file="Common/meta" title="花语 | 后台.分类管理" keywords="$keywords" }
	<link rel="stylesheet" href="__STATIC__/Admin/H-ui/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>
	{include file="Common/header"}
	{include file="Common/menu"}

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i><a href="{:url('Index/index')}"> 首页 </a><span class="c-gray en">&gt;</span> 分类管理 <span class="c-gray en">&gt;</span> 分类列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<style>
			.wrap {
				display: inline-flex;
				flex-flow: column wrap;
				margin: 1rem;
				border-right: 1px solid #fdd49a7a;
				padding: 2rem;
			}
			.cate.city {
				display: flex;
				flex-flow: row wrap;
				border-bottom: 1px solid #fdd49a7a;

			}
			.cate.city .item {
				margin: 1.2rem .6rem .6rem .6rem;
				padding: .2rem .4rem;
			}

		</style>
		<article class="cl pd-20">
			<div id="city-cate" class="wrap">
				<ul class="cate city" attr="class_1">
					<li class="item" v-text="title" v-on:click="getCityList"></li>
				</ul>
				<ul class="cate city" attr="class_1">
					<li class="item">测试项目</li>
					<li class="item" v-for="item in cityList">
					  {{ item.c_name }}
					</li>
					<li class="item" v-on:click="isShow=false"><i class="icon Hui-iconfont"></i></li>
				</ul>
				<div id="city-add" class="popup">

				</div>

				<article class="cl pd-20" style="width: 40rem;border:1px solid #396; z-index: 3;background-color: #fff" v-bind:class="{'hide': isShow}">
					<form action="{:url('Category/save')}" method="post" class="form form-horizontal" id="form-city-add" novalidate="novalidate">
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>城市名称：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="" placeholder="" id="c_name" name="c_name">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>备注：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="" placeholder="在此输入城市拼音,排序使用" id="" name="explain">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-3">状态：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="checkbox" value="0" name="status">启用
							</div>
						</div>
						<div class="row cl">
							<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
								<span class="hide">
									<input type="number" value="1" name="pid">
								</span>
								<button type="submit" class="btn btn-success radius" id="" name=""><i class="icon-ok"></i> 确定</button>
							</div>
						</div>
					</form>
				</article>
				<div class="layui-layer-shade" id="layui-layer-shade2" cexplain="遮罩层" times="2" style="z-index:1; background-color:#000; opacity:0.2;" v-if="!isShow" v-on:click="isShow=true"></div>
			</div>

			<div class="wrap">
				<ul class="cate city" attr="class_1">
					<li class="item">管理员</li>
				</ul>
				<ul class="cate city" attr="class_1">
					<li class="item">督查</li>
					<li class="item">省长</li>
					<li class="item" v-on:click="addCity"><i class="icon Hui-iconfont"></i></li>
				</ul>
			</div>
		</article>
	</div>
</section>
<script>
	let SCOPE = {
		'getCityList' : '{:url('Category/getCityList')}',
	};
</script>
{include file="Common/script"}

<script type="text/javascript" src="__STATIC__/Admin/H-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/Admin/H-ui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/Admin/H-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__/Admin/H-ui/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>
<script src="https://cdn.bootcss.com/Sortable/1.6.0/Sortable.js"></script>
<!-- {load href="__STATIC__/Admin/js/common.js"/} -->
<script>

// var setting = {
// 	view: {
// 		dblClickExpand: false,
// 		showLine: false,
// 		selectedMulti: false
// 	},
// 	data: {
// 		simpleData: {
// 			enable:true,
// 			idKey: "id",
// 			pIdKey: "pId",
// 			rootPId: ""
// 		}
// 	},
// 	callback: {
// 		beforeClick: function(treeId, treeNode) {
// 			var zTree = $.fn.zTree.getZTreeObj("tree");
// 			if (treeNode.isParent) {
// 				zTree.expandNode(treeNode);
// 				return false;
// 			} else {
// 				demoIframe.attr("src",treeNode.file + ".html");
// 				return true;
// 			}
// 		}
// 	}
// };

// var zNodes =[
// 	{ id:1, pId:0, name:"一级分类", open:true},
// 	{ id:11, pId:1, name:"二级分类"},
// 	{ id:111, pId:11, name:"三级分类"},
// 	{ id:112, pId:11, name:"三级分类"},
// 	{ id:113, pId:11, name:"三级分类"},
// 	{ id:114, pId:11, name:"三级分类"},
// 	{ id:115, pId:11, name:"三级分类"},
// 	{ id:12, pId:1, name:"二级分类 1-2"},
// 	{ id:121, pId:12, name:"三级分类 1-2-1"},
// 	{ id:122, pId:12, name:"三级分类 1-2-2"},
// ];

// var code;

// function showCode(str) {
// 	if (!code) code = $("#code");
// 	code.empty();
// 	code.append("<li>"+str+"</li>");
// }

// $(document).ready(function(){
//    zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
// });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>


