<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="Common/meta" title="花语 | 首页" keywords="$keywords" }
</head>
<body>
	{include file="Common/header"}
	<main role="main">
		<div class="banner">banner</div>
		<div class="container">
			<div class="city_nav">
				<ul class="zone first_class_zone">
					<li><i>全国</i></li>
					<li>北京</li>
					<li>上海</li>
					<li>天津</li>
					<li>重庆</li> 
					<li>广东</li>
					<li class="checked">山东</li>
					<li>江苏</li>
					<li>河南</li>
					<li>上海</li>
					<li>河北</li>
					<li>浙江</li>
					<li>香港特别行政区</li>
					<li>陕西</li>
					<li>湖南</li>
					<li>重庆</li>
					<li>福建</li>
					<li>天津</li>
					<li>云南</li>
					<li>四川</li>
					<li>广西壮族自治区</li>
					<li>安徽</li>
					<li>海南</li>
					<li>江西</li>
					<li>宁夏回族自治区</li>
					<li>贵州</li>
					<li>澳门特别行政区</li>
					<li>甘肃</li>
					<li>青海</li>
					<li>新疆维吾尔自治区</li>
					<li>湖北</li>
					<li>山西</li>
					<li>吉林</li>
					<li>辽宁</li>
					<li>台湾</li>
					<li>黑龙江</li>
					<li>内蒙古自治区</li>
					<li>西藏区</li>
				</ul>
				<ul class="zone second_class_zone">
					<li>全省</li>
					<li>济南</li>
					<li>泰安</li>
					<li>潍坊</li>
					<li>德州</li>
					<li>滨州</li>
					<li>莱芜</li>
					<li class="checked">青岛</li>
					<li>烟台</li>
					<li>日照</li>
					<li>东营</li>
					<li>济宁</li>
					<li>荷泽</li>
					<li>聊城</li>
					<li>临沂</li>
					<li>枣庄</li>
					<li>淄博</li>
					<li>威海</li>
				</ul>
				<ul class="zone third_class_zone">
					<li class="checked">全市</li>
					<li class="checked">市南</li>
					<li class="checked">市北</li>
					<li class="checked">四方</li>
					<li class="checked">黄岛</li>
					<li class="checked">崂山</li>
					<li class="checked">李沧</li>
					<li class="checked">城阳</li>
					<li class="checked">胶州</li>
					<li class="checked">即墨</li>
					<li class="checked">平度</li>
					<li class="checked">胶南</li>
					<li class="checked">莱西</li>
				</ul>
				<ul class="zone ">
					<li>所有</li>
					<li class="checked">照片</li>
					<li>摄影师</li>
					<li>修图师</li>
					<li>化妆师</li>
					<li>麻豆</li>
					<li>活动</li>
				</ul>
				<ul class="zone sort">
					<li class="checked"><i class="fa fa-tree"></i>最新</li>
					<li><i class="fa fa-smile-o"></i>最热</li>
					<li><i class="fa fa-heartbeat"></i>最心塞</li>
					<li><i class="fa fa-random"></i>随机</li>
					<li><i class="fa fa-trophy"></i>区长推荐</li>
					<li><i class="fa fa-users"></i>大伙儿推荐</li>
					<li><i class="fa fa-key fa-spin"></i>密码</li>
				</ul>
			</div>
			<div class="photo">
				<div id="imgs-box">
				</div>
				<div class="paging_bar"></div>
			</div>
			<div class="article">article</div>
			<div class="people">people</div>
		</div>
	</main>
	{include file="Common/footer"}
	{include file="Common/script"}
	<script src="__STATIC__/Home/js/jQuery.myGreatWall.js"></script>
</body>
</html>