<meta charset="utf-8" />
<title>Toren消防后台管理系统</title>
<meta name="keywords" content="消防管理 消防服务 消防咨询 消防工程 消防评估" />
<meta name="description" content="" />
<link rel="shortcut icon" type=image/ico href=http://download.easyicon.net/ico/2279/48/ >
<!-- <link rel="shortcut icon" type=image/ico href=http://download.easyicon.net/ico/549235/48/ > -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__STATIC__/TorenAdmin/ACE/css/bootstrap.min.css"/>
<link rel="stylesheet" href="__STATIC__/TorenAdmin/ACE/css/font-awesome.min.css"/>
<link rel="stylesheet" href="__STATIC__/TorenAdmin/ACE/css/ace.min.css" />
<link rel="stylesheet" href="__STATIC__/TorenAdmin/ACE/css/ace-rtl.min.css" />
<link rel="stylesheet" href="__STATIC__/TorenAdmin/ACE/css/ace-skins.min.css" />
<script src="__STATIC__/TorenAdmin/ACE/js/ace-extra.min.js"></script>