<footer>
	<div class="footer_left_rwap">
		<ul class="footer_links">
			<li class="link"><a href="#">初夏</a></li>
			<li class="link"><a href="#">爱的旅程</a></li>
			<li class="link"><a href="#">玛格丽特公主</a></li>
			<li class="link"><a href="#">我们的故事</a></li>
			<li class="link"><a href="#">花语姊妹站</a></li>
			<li class="link"><a href="#">快捷导航</a></li>
			<li class="link"><a href="#">联系我们</a></li>
			<li class="link"><a href="#">友情链接</a></li>
			<li class="link"><a href="#">常见问题</a></li>
		</ul>
		<p class="copyright">Copyright © 2017 GUEEN JEWELLERY . All Rights Reserved .</p>
	</div>
	<div class="footer_center_rwap">center</div>
	<div class="footer_right_rwap">right</div>
</footer>